{
  "presets": [
    "@babel/react",
    ["@babel/preset-stage-2", { "decoratorsLegacy": true }],
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        "@babel/preset-stage-2",
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
